@charset "utf-8";
@import url(http://fonts.googleapis.com/earlyaccess/nanumpenscript.css);

boby,h1,h2,p{
    margin: 0;
}
html,body{
    margin: 0;
    font-family: 'Nanum Pen Script','NanumBarunpen', sans-serif;
    background: #ecd2fa;
    
}
ul{
    margin: 0;
    padding: 0;
    list-style: none; 
}

a{
    text-decoration: none;
    color: #000;
}
.cf:after {
    content:"";
    display: block;
    clear: both;
}

#wrap{
    width:100%;
    display: block;
     position: relative;
}
#header{
}
#header .logo{
    width:97px;
    margin: 0 auto;
    margin-top: 5px;

}
#header .logo img{
    display: inline-block; 
}

#header h1{
   height: 50px;
   font-size:18px;
    display: block;
   display: inline-block;
}
#header h1 span{
    display: block;
}

.gnb{
    background: #a77239;
    width: 100%;
}
.gnb ul{
    margin: 0 auto;
}
.gnb ul:after{
    content: "";
    display: block;
    clear: both;
}
.gnb ul li{
    width: 25%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    float: left;
    font-family: 'NanumBarunpen';
    font-size: 15px;
}
.gnb ul li.bg1 a{
    color:#e5e788;
}
.gnb ul li a{
    color: #fff;
    display: block;
}



.gnbmenu{
    width: 100%;
    height: 50px;
}
.gnbmenu ul{
    
}
.gnbmenu ul li.rgt{
     background: #e6e789;
    height: 35px;

}
.gnbmenu ul li.rgt p{
    width: 100%;
    font-size: 15px;
   
}
.gnbmenu ul li{
    width: 25%;
    font-family: 'NanumBarunpen';
    font-size: 15px;
    display: inline-block;
    padding-top: 15px;
   text-align: center;
}


.box{
    font-family: 'NanumBarunpen';
    font-size: 15px;
    height: 585px;
    padding:10px;
    
}
.box .boxIn{
     background: #fff;
     height: 460px;
     
}
.box .boxIn h2{
    text-align: center;
    padding-top: 10px;
}
.box .boxIn p{
    padding: 20px;
    text-align: left;
    line-height: 20px;
    font-size: 11px;
}
.box .boxIn p span{
    display: block;
}
.box .boxIn img{
    width: 100px;
    height: 55px;
    position: absolute;
    right: 0;
    padding: 0 15px;
}


#footer{
    background: #e5e788;
    height: 100px;
    width: 100%;
    position: absolute;
    bottom: 0;
}
#footer .text{
    padding: 30px;
}
#footer .text p{
    font-family: "NanumBarunpen";
    font-size: 12px;
    line-height: 20px;
}
